@**************************************************************
* Page:             List User Logins                          *
* Author:           Sav Balac                                 *
* Date:             24/02/14                                  *
* Version:          1.0                                       *
* Description:      Lists login differences for users         *
*                                                             *
* @param logins     The list of user logins                   *
**************************************************************@

@(
   logins: List[models.UserLogin]
)

@import com.atlassian.connect.play.java.AcHost
@import com.atlassian.connect.play.java.AC

<!DOCTYPE html>
<html lang="en">

    <head>
        @if(AC.getToken.isDefined) {
            <meta name="acpt" content="@AC.getToken.get">
        }

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Atlassian AUI Styling -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-all.css" media="all">
        <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie.css" media="all"><![endif]-->
        <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/css/aui-ie9.css" media="all"><![endif]-->

        <!-- Required for the page to communicate with Confluence -->
        <script src="//testing123.atlassian.net/confluence/atlassian-connect/all.js" type="text/javascript"></script>
    </head>

    <body>

        <div>

            <table border="1">

                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Date & Time</th>
                        <th>IP Address</th>
                        <th>Continent</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Location</th>
                        <th>Post Code</th>
                        <th>Time Zone</th>
                    </tr>
                </thead>

                <tbody>
                    @for(UserLogin <- logins) {
                        <tr>
                            <td>@UserLogin.username</td>
                            <td>@utils.Utils.formatTimestamp(UserLogin.loginTimestamp)</td>
                            <td>@UserLogin.ipAddress</td>
                            <td>@UserLogin.continentName</td>
                            <td>@UserLogin.countryName</td>
                            <td>@UserLogin.cityName</td>
                            <td>@UserLogin.mostSpecificSubdivisionName</td>
                            <td>@UserLogin.postalCode</td>
                            <td>@UserLogin.locationTimeZone</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div> <!-- container -->

        <!-- Atlassian AUI -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.4.3/aui/js/aui-all.js" type="text/javascript"></script>

    </body>

</html>